.react-tabs__tab-list {
    border-bottom-color: #d1e2cf;
}
.react-tabs__tab {
    color: #86aa85;
    font-weight: 700;
}
.react-tabs__tab:hover {
    color: #2f5b26;
}
.react-tabs__tab--selected, .react-tabs__tab--selected:hover {
    color: #1f4130;
    border-color: #d1e2cf; 
    background: #eaf0e7;
}
